* {
  scrollbar-width: none;
  scrollbar-color: var(--color-font-2) #000000;
}

*::-webkit-scrollbar {
  width: 12px;
}

*::-webkit-scrollbar-track {
  background: #00000000;
}

*::-webkit-scrollbar-thumb {
  background-color: var(--color-font-2);
  border-radius: 10px;
  border: 3px solid #ffffff00;
}